/* ===== FOND ===== */
.parent-background {
    -fx-background-image: url("/images/backgd.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* ===== BARRE VERTE ===== */
.parent-header {
    -fx-background-color: #5ac15a;
    -fx-background-radius: 0 0 35 35;
}

.parent-title {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* ===== BOUTON PARAM ===== */
.settings-btn {
    -fx-background-color: white;
    -fx-text-fill: #5ac15a;
    -fx-background-radius: 20;
    -fx-padding: 6 15;
    -fx-font-weight: bold;
}

/* ===== CADRE CENTRAL (PLUS PETIT) ===== */
.center-frame {
    -fx-background-color: white;
    -fx-background-radius: 40;
    -fx-padding: 40;
    -fx-pref-width: 600;
    -fx-pref-height: 300;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0.3, 0, 10);
}

/* ===== CARTES ===== */
.carnet-card {
    -fx-background-color: #ffb32b;
    -fx-background-radius: 25;
    -fx-padding: 20;
    -fx-pref-width: 150;
}

.comment-card {
    -fx-background-color: #ff6fa5;
    -fx-background-radius: 25;
    -fx-padding: 20;
    -fx-pref-width: 150;
}

.card-title {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* ===== BOUTON ===== */
.action-btn {
    -fx-background-color: white;
    -fx-text-fill: #333;
    -fx-background-radius: 18;
    -fx-padding: 6 18;
    -fx-font-weight: bold;
}

.action-btn:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.white-board {
    -fx-background-color: white;
    -fx-border-color: #ffb32b;
    -fx-border-width: 5;
    -fx-border-radius: 30;
    -fx-background-radius: 30;

    -fx-max-width: 420;
    -fx-max-height: 240;

    -fx-padding: 25;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0.3, 0, 5);
}